<%- include('./partials/boilerplate') %>

<h1 class="logo">Reflective</h1>
<h3 class="subtitle">Looking back to move forward</h3>

<div class="form-container">
    <div class="form-box">
        <form class="flex-form" method="POST" action="/auth/login">
            <input class="form-inputs" is="username" name="username" type="text" placeholder="Username" />
            <input class="form-inputs" id="password"name="password" type="password" placeholder="Password" />
            <input class="form-btn" id= "login-btn" type="submit" value="Log In" />
        </form>
        
        <a class="register-link" href="/auth/register">Register</a>
    </div>
</div>

<%- include('./partials/end') %>