<%- include('./partials/boilerplate') %>

<h1>Reflective Home Page</h1>

<form method="post" action='/auth/register'>
    <button type="submit">Register</button>
</form>

<%- include('./partials/end') %>