<%- include('../partials/boilerplate') %>

<h1 class="title">Add an entry!</h1>

<div class="form-container">
    <div class="form-box">
        <form class="flex-form" method="POST" action="/entry">
            <textarea class="form-inputs" name="keep" placeholder="Keep"></textarea>
            <textarea class="form-inputs" name="throwaway" placeholder="Throwaway"></textarea>
            <input class="form-inputs" name="entryDate" type="date" />
            <input class="form-inputs" name="tag" type="text" placeholder="Tag" />
            <input class="form-btn" type="submit" value="Add Entry" />
        </form>
    </div>
</div>

<%- include('../partials/end') %>