body {
    font-family: 'Indie Flower', cursive;
    background: #F0F2F5;
}

.logo {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 3em;
    text-shadow: 4px 4px 5px grey;
    margin: .25em;
}

.title {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 3em;
    margin: .25em;
}

.subtitle {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    margin-top: .25em;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    padding: 3em;
    width: 50vw;
}

.entry-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    padding: 0 1em 1em 1em;
    width: 50vw;
}

.flex-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-inputs {
    font-size: 1.5em;
    border: 1px solid #DDDFE2;
    border-radius: 6px;
    padding: .5em;
    width: 90%;
    margin-bottom: 1em;
}

.form-btn {
    font-size: 1.5em;
    border-style: none;
    border-radius: 6px;
    padding: .5em;
    width: 90%;
    margin-bottom: 1em;
    background: #CDFF06;
    color: #0023F5
}

.register-link {
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.add-entry-link {
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.entry-date {
    display: flex;
    justify-content: center;
    margin: .5em 0em 0em 0em;
    font-size: 1.25em;
    font-family: 'Quicksand', sans-serif;
    /* background: #7DE0E6;
    color: #EB4591; */
}

.entry-label {
    font-family: 'Quicksand', sans-serif;
}

.entry-footer {
    display: flex;
}

.entry-links {
    display: flex;
    width: 50%;
    justify-content: center;
}

textarea {
    resize: none;
    height: 5em;
}